# R
*.Rbuildignore
*.RData
*.Rhistory
*.Rprofile
*.Rproj.user
*.Rproj
*.Rcheck
.Rlib
.R*
r-package/docs/
.Rproj.user
r-package/README.html

# PYTHON
build/
dist/
__pycache__/
.eggs/
.mesonpy-*/
**/docs/_build/
**/docs/..doctrees/
**/docs/reference/generated/
.pytest_cache/
randompack.egg-info/
release-python/
wheelhouse/

# REBUILDABLE DOC
*.pdf
tests/*.txt

# BACKUPS
*~
#*#
.#*
*.asv
*.tgz
*.gz

# MISCELLANEOUS
a.out
.DS_Store
/nogit/
*.ppt
*.log

C BUILD FILES AND FOLDERS
*.obj
*.o
*.d
*.a
*.so
*.lib
build*/
lib/
bin/
release/

# JULIA
.juliaup/
Randompack.jl/.juliaup/
.julia/
Randompack.jl/.julia/
.julia_depot/
*.jl.cov
*.jl.mem
Randompack.jl/Manifest.toml

xoshiro_test/
ziggurat_code/
ziggurat-test/
third-party/
archives/
install/
Yggdrasil/
products/

# SANDBOX
sandbox/ranluxpp-portable/
sandbox/mul576/mul_jirka.c
sandbox/mul576/mod_m.c
.jupyter/