# R
*.Rbuildignore
*.RData
*.Rhistory
*.Rprofile
*.Rproj.user
*.Rproj
*.Rcheck
.Rlib
.R*
r-package/docs/
.Rproj.user

# PYTHON
build/
dist/
__pycache__/
.eggs/
.mesonpy-*/
docs/_build/
docs/..doctrees/
.pytest_cache/
randompack.egg-info/
docs/reference/generated/
release-python/

# REBUILDABLE DOC
*.html
*.pdf
tests/*.txt
article/

# BACKUPS
*~
#*#
.#*
*.asv
*.tgz
*.gz

# MISCELLANEOUS
a.out
.DS_Store
doc/
/nogit/
*.ppt
*.log

C BUILD FILES AND FOLDERS
*.obj
*.o
*.d
*.a
*.so
*.lib
build*/
lib/
bin/
release/

CLONED C-PACKAGES
chacha-opt/
pcg-dxsm/
Random123/
random123/
xoshiro_test/
numpy/
zmgd/
ziggurat_code/
ziggurat-test/
